<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>计算机与信息技术学院</key>
		<array>
			<string>电子信息科学与技术</string>
			<string>计算机科学与技术</string>
			<string>软件工程</string>
			<string>物联网工程</string>
			<string>信息管理与信息系统</string>
			<string>教育技术学</string>
		</array>
		<key>石油工程学院</key>
		<array>
			<string>石油工程</string>
			<string>海洋油气工程</string>
			<string>油气储运工程</string>
		</array>
		<key>数学与统计学院</key>
		<array>
			<string>数学与应用数学</string>
			<string>应用统计学</string>
			<string>信息与计算科学</string>
		</array>
		<key>机械科学与工程学院</key>
		<array>
			<string>工程力学</string>
			<string>工业设计</string>
			<string>安全工程</string>
			<string>机械设计制造及其自动化</string>
			<string>过程装备与控制工程</string>
			<string>车辆工程</string>
			<string>金属材料工程</string>
		</array>
		<key>地球科学学院</key>
		<array>
			<string>勘查技术与工程</string>
			<string>资源勘查工程</string>
			<string>地球物理学</string>
			<string>地质学</string>
			<string>地球化学</string>
		</array>
		<key>艺术学院</key>
		<array>
			<string>音乐表演</string>
			<string>环境设计</string>
			<string>舞蹈编导</string>
		</array>
		<key>化学化工学院</key>
		<array>
			<string>应用化学</string>
			<string>能源化学工程</string>
			<string>化学</string>
			<string>化学工程与工艺</string>
			<string>高分子材料与工程</string>
			<string>环境科学与工程</string>
		</array>
		<key>土木建筑工程学院</key>
		<array>
			<string>土木工程</string>
			<string>能源与动力工程</string>
			<string>建筑学</string>
			<string>给水与排水工程</string>
			<string>建筑环境与设备工程</string>
		</array>
		<key>电子科学学院</key>
		<array>
			<string>光电信息科学与工程</string>
			<string>应用物理</string>
			<string>电子信息工程</string>
			<string>通信工程</string>
			<string>电子科学与技术</string>
		</array>
		<key>人文科学学院</key>
		<array>
			<string>社会合作</string>
			<string>汉语言文学</string>
			<string>行政管理</string>
			<string>公共事业管理</string>
		</array>
		<key>外国语学院</key>
		<array>
			<string>俄语</string>
			<string>英语</string>
		</array>
		<key>电气信息工程学院</key>
		<array>
			<string>自动化</string>
			<string>电气工程及其自动化</string>
			<string>通信工程</string>
			<string>测控技术与仪器</string>
			<string>生物医学工程</string>
		</array>
		<key>经济管理学院</key>
		<array>
			<string>市场营销</string>
			<string>工程管理</string>
			<string>旅游管理</string>
			<string>财务管理</string>
			<string>国际经济与贸易</string>
			<string>会计学</string>
			<string>人力资源管理</string>
			<string>工商管理</string>
			<string>经济学</string>
		</array>
		<key>黑龙江八一农垦大学</key>
		<array>
			<string>信息技术学院</string>
			<string>食品学院</string>
			<string>动物科技学院</string>
			<string>工程学院</string>
			<string>会计学院</string>
			<string>经济管理学院</string>
			<string>理学院</string>
			<string>农学院</string>
			<string>人文社会科学学院</string>
			<string>生命科学技术学院</string>
		</array>
		<key>东北石油大学</key>
		<array>
			<string>电气信息工程学院</string>
			<string>机械科学与工程学院</string>
			<string>地球科学学院</string>
			<string>艺术学院</string>
			<string>化学化工学院</string>
			<string>土木建筑工程学院</string>
			<string>经济管理学院</string>
			<string>电子科学学院</string>
			<string>人文科学学院</string>
			<string>外国语学院</string>
			<string>石油工程学院</string>
			<string>数学与统计学院</string>
			<string>计算机与信息技术学院</string>
		</array>
		<key>startdate</key>
		<array>
			<string>2015 - 9</string>
			<string>2014 - 9</string>
			<string>2013 - 9</string>
			<string>2012 - 9</string>
		</array>
		<key>school</key>
		<array>
			<string>东北石油大学</string>
			<string>黑龙江八一农垦大学</string>
		</array>
	</dict>
</dict>
</plist>
